%main
  .landing
    %span{ :class => "title" }
      Разблокируем доступ к средствам  на криптовалютных биржах и банковских счетах

  %div{ :class => "title-action relative" }
    %div{ :class => "d-flex column gap-10" }
      %a{ :class => "btn-a", :href => "#contact" }
        %span Оставить заявку на сайте
      %a{ :class => "btn-telegram", :href => "https://t.me/un_lock_site" } Оставить заявку в Telegram
      %a{ :class => "btn-e-mail", :href => "mailto:un-locksite@yandex.ru" } Оставить заявку по e-mail

    %div{ :class => "image-man-on-pc" }
      %img{ :src => "../public/ManOnPC.svg", :alt => "" }



  = Haml::Engine.new(File.read("src/components/who-works.haml")).render
  = Haml::Engine.new(File.read("src/components/help-with.haml")).render

  .services

  = Haml::Engine.new(File.read("src/components/services/unlock-services.haml")).render
  = Haml::Engine.new(File.read("src/components/how-we-work.haml")).render
  = Haml::Engine.new(File.read("src/components/price/price.haml")).render
  = Haml::Engine.new(File.read("src/components/tg.haml")).render
  = Haml::Engine.new(File.read("src/components/contact-form.haml")).render
